.DS_Store
*.log
*.swp
.build/
.swiftpm/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart (libraries don't commit pubspec.lock)
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/
